<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_fmDU5s6udKHPro78AktMAhxbhOb3u5g</string>
	<key>GCM_SENDER_ID</key>
	<string>502916795619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.promarcing.mottor</string>
	<key>PROJECT_ID</key>
	<string>app-mottor</string>
	<key>STORAGE_BUCKET</key>
	<string>app-mottor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502916795619:ios:c794f6dc3ef1b0bc2689d6</string>
</dict>
</plist>